* {
  margin:0;
  padding:0;
}

.page-header {
    background-color: #557ead;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1px 10px 10px 20px;
}

.page-footer {
    background-color: #d6d6d6;
    margin-top: 10;
    margin-bottom: 0;
    color: #454545;
    font-size: 9pt;
    padding: 10px;
}

.content-mid-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 10px;
}

.weatherimg {
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 50, 0.97);
  align: right;
  background-color: #ABABAB;
  width: 100px;
  height: 100px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 24pt;
    font-family: Arial;
    text-decoration: none;
}

.ioT {
    font-size: 14pt;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 20px;

  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 3px 0px 3px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 50, 0.97);
}

.news {
    font-size: 10pt;
    height: 190px;
    overflow: scroll;
}

.comments {
    font-size: 9pt;
    margin-top: 15;
    font-style: italic;
}

div {
    display: block;
}

.column_left {
    float: left;
    width: 600px;
}

.column_right {
    position: relative;
    float: right;
    width: 300px;
}

.container {
    margin: 0 auto;
    padding: 8px 10px 0;
    width: 900px;
    text-align: left;
    zoom: 1;
}
