{% extends 'base.html' %}

{% block content %}
<div class="column_right">
    <div class="ioT">
    Today's Weather : <br>{{ ioT.weather.Description }}
        <img class="weatherimg" src={{ ioT.weather.Icon }} align="right">
        <div class="comments">
            Temperature : <br>{{ ioT.weather.Temp_min }}℃ to {{ ioT.weather.Temp_max }}℃ <br>
            Wind Speed : {{ ioT.weather.Wind_speed }} <br>
        </div>
    </div>
    <!--  Shopping List  -->
    <div class="ioT">
    Shopping List
        <div class="comments">
            {% for item in ioT.ShoppingList %}
            <li>{{ item }}</li>
            {% endfor %}
        </div>
    </div>
</div>

<div class="column_left">
    <div class="ioT">
        Today's News
        <div class="news">
        {% for news in ioT.News %}
            <!-- <font color="grey">({{ news.pubDate }})</font> -->
            <li><a href={{ news.links }} target="_blank"> {{ news.title }}</a></li>
        {% endfor %}
        </div>
    </div>

    <div class="ioT">
        {% if ioT.umbrella %}
        Please bring Umbrella Today
        <img class="ioTimg" src="/static/img/umbrella.png" align="right">
        {% else %}
        You don't need to bring Umbrella
        {% endif %}

        <div class="comments">
            If the humidity is more than 50%, It's better to bring Umbrella <br>
        Current humidity level : {{ ioT.weather.Humidity }}
        </div>
    </div>

    <div class="ioT">
        {% if ioT.gardenwater %}
        No garden watering Today
        {% else %}
        Watering Garden Today
        <img class="ioTimg" src="/static/img/gardenwater.png" align="right">
        {% endif %}
        <div class="comments">
            If the humidity is more than 70%, Garden watering doesn't need <br>
        Current humidity level : {{ ioT.weather.Humidity }}
        </div>
    </div>

    <div class="ioT">
        Blind & Curtain
        <div class="comments">
        Opening time : {{ ioT.weather.Str_sunrise }}<br>Closing time : {{ ioT.weather.Str_sunset }}
        </div>
    </div>
</div>


{% endblock %}